@charset "utf-8";

// form表单验证
//--------------------------------------------------------------------------

/*错误提示使用类名*/
/*推荐其它项目保持统一*/
.msg-box {
    position: relative;
    left: 5px;
    font-size: 12px;
    color: #c33;
}

.msg-errorIcon,
.msg-successIcon {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right:2px;
    background: url("images/icons-form.png") no-repeat 0 0;
}

.msg-successIcon {
    background-position: -16px 0;
}